

.select-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-item-wrapper {
    padding-top: 50px;
    position: relative;
}

.pickup-img {
    width: 250px;
    height: 250px;
    background-size:contain;
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;

}

.ongoing {
    color:red;
}
.select-location-wrapper { 
    /* display: inline-block; */
    justify-content: space-between;
    border: 4px solid #a7a394; 
    padding-left: 2vw
    /* display:none; */
}

.pickup-text {
    display: inline-block;
    vertical-align: top;
    padding-top: 5vw;
}


.trashyPics {
    display: flex;
    
    vertical-align: top;
    /* padding-top: 5vw; */

}


.loc-img {
    width: 35%;
    vertical-align: middle; 
    padding:2vh 1vw;
    padding-top: 2vh;

    /* display: inline-block; */
    /* float: left; */

}
#images {
    margin-left: 19vw;
}

/* .description-img { 
    display: inline-block;
    justify-content: space-between;
} */


.select-items-wrapper {
    display: inline;
}

.select-item-wrapper {
    display: flex;

    /* position: relative; */
    
}
.pickupButtons {
    text-align: center;
    padding-top: 2vh;
}
.img-background {
    height: 250px;
    background-size:contain;
    background-position: right;
    background-repeat: no-repeat;
}
 /* .pickup-container { */
     /* display: flex; */
     /* float: right; */
     /* margin: 0px auto; */
 /* } */
.report-img {
    width:90vw;
    margin: 0 auto;
    /* float: right; */
}
#pickupForm {
    text-align: center;
}
#pickupForm > button {
    display: flex;
    margin: 0 auto;
}
.reportField {
    margin: auto;
    width: 50%;
    border: 3px solid #a7a394; 
    margin-top: 2vh;
}
#pickupForm > label, #pickupForm input {
    padding: 6px 0px;
    /* display: none; */
}
#attachment {
    padding-left: 6vw;

}