body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    overflow-y: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #463F3A;
}

.left-wrapper {
    display: flex;
}

.nav-wrapper > .left-wrapper > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0s;
}

.nav-link-wrapper a {
    color: #C2C5BB;
    text-decoration: none;
    transition: color 0.5s;
}
.brand {
    color: #C2C5BB;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #C2C5BB;
} 

.nav-link-wrapper a:hover {
    color: #BF9ACA;
} 

.active-nav-link {
    border-bottom: 1px solid #C2C5BB;
}

.active-nav-link a {
    color: #C2C5BB !important;
}

.select-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-item-wrapper {
    position: relative;
}

.img-background {
    height: 350px;
    width: device-width;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.select-item-wrapper .subtitle {
    color: transparent;
    font-weight: 600;
}

.select-item-wrapper:hover .subtitle {
    transition: 1s;
    font-weight: 600;
    color: #C2C5BB;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.footer {
    background-color: #C2C5BB;
    height: 50vh;
}

.text-wrapper {
    margin: 0;
    text-align: center;
    background-color: #C2C5BB;
    height: 1000px;
}