body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    overflow-y: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #506AD4;
}

.left-wrapper {
    display: flex;
}

.right-wrapper {
    display: flex;
}

.nav-wrapper > .right-wrapper > div {
    margin-right: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-wrapper > .left-wrapper > div {
    margin-right: 10px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0s;
}

.nav-link-wrapper a {
    color: #FFFCE6;
    text-decoration: none;
    transition: color 0.5s;
}
.language {
    color: #FFFCE6;
}

.language-img {
    height: 10px;
    width:auto;

}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #FFFCE6;
} 

.nav-link-wrapper a:hover {
    color: #FFFCE6;
} 

.active-nav-link {
    border-bottom: 1px solid #F2CC39;
}



.active-nav-link a {
    color: #F2CC39 !important;
}

.select-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.select-item-wrapper {
    padding-top: 50px;
    position: relative;
}

.img-background {
    height: 250px;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    padding-top: 10px;
    text-align: center;
    color: #506AD4;
}


.content-wrapper {
    background-color: #C2B8AD;
    height:inherit;
}

.footer {
    background-color: #C2B8AD;
    height:100cm;
}

.text-wrapper {
    margin: 0;
    text-align: center;
    background-color: #FFFCE6;
    height: 1000px;
}