body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    font-size:large;
}

/* .container {
    /* display: grid; */
    /* grid-template-columns: 1fr; 
} */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    /* margin-bottom: 10px; */
    background-color: #506AD4;
}

/* .left-wrapper , .right-wrapper {
    justify-content:space-evenly;
} */


.nav-wrapper > .right-wrapper > div {
    float:right;
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-wrapper > .left-wrapper > div {
    float:left;
    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 7px solid transparent;
    /* float:left; */
    transition: border-bottom 0s;
    /* margin-bottom: 15px; */
}

.nav-link-wrapper a {
    color: #FFFCE6;
    text-decoration: none;
    transition: color 0.5s;
}
.language {
    color: #FFFCE6;
}

.language-img {
    height: 10px;
    width:auto;

}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #FFFCE6;
} 

.nav-link-wrapper a:hover {
    color: #FFFCE6;
} 

.active-nav-link {
    /* border-bottom: 1px solid #F2CC39; */

    margin-bottom: 10px;
}


.active-nav-link a {
    color: #F2CC39 !important;
}

.profile-img {
    width: 25px;
}


footer {
    text-align: center;
    background-color: DarkSalmon;
    color: white;
    
    bottom:0;
  }
